name: Build APK & AAB
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - run: flutter pub get
      
      # अगर आपने आइकॉन सेट किया है तो नीचे वाली लाइन रखें, वरना इसे हटा दें
      # - run: flutter pub run flutter_launcher_icons:main 

      - run: flutter build apk --release
      - run: flutter build appbundle --release
      
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MyKharcha-APK
          path: build/app/outputs/flutter-apk/app-release.apk

      - name: Upload AAB (Play Store)
        uses: actions/upload-artifact@v3
        with:
          name: MyKharcha-AAB
          path: build/app/outputs/bundle/release/app-release.aab
